@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* Global */

:root {
  --clr-yellow-primary: #FAA524; 
  --clr-purple-primary: #2E153C;
  --clr-yellow-buttons: #faa424e4;
  --clr-purple-buttons: #2E153Ce4;
  --clr-textbox: #2A2A2A;
  --clr-black: #171717;
  --clr-white: #FFFFFF;
  --clr-grey:#d5d5d5;
  --clr-footer: #1B0825;
  --clr-footer-text: #c7c7c7;

  --h1: 80px; 
  --h2: 36px;
  --h3: 28px;
  --h4: 24px;
  --p: 20px;

  --border-radius:16px;
  --font: "Karla", sans-serif;
  --max-width:900px;

  --mobile-breakpoint: 550px;
  --tablet-breakpoint: 900px;

  --padding-side-default: 64px;

  --line-height: 30px;

}
@media screen and (max-width: 550px) {
  :root {
    --h1: 40px; 
    --h2: 30px;
    --h3: 26px;
    --h4: 20px;
    --p: 16px;

    --padding-side-default:16px;
  }
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: var(--font);
  font-optical-sizing: auto;
  font-style: normal;
  color:var(--clr-white);
}
a {
  color: var(--clr-white);
  text-decoration: none;
  transition: text-decoration 150ms;
  position: relative;
  transition: color 150ms;
}
a:hover {
  color:var(--clr-white)
}
@keyframes fade-in-left {
  from {
    opacity: 0;
    /* transform: translateX(-20%); */
  }
  to {
    opacity: 1;
    /* transform: translateX(0); */
  }
}
h1 {
  font-size: var(--h1);
  letter-spacing: -1px;
  font-weight: 500;
  text-transform: uppercase;
}
h2 {
  font-size: var(--h2);
  font-weight: 700;
  letter-spacing: 1px;
}
h3 {
  font-size: var(--h3);
  font-weight: 700;
  letter-spacing: 1px;

}
h4 {
  font-size: var(--h4);
  font-weight: 500;
  letter-spacing: 0px;
}
p, ul, li {
  line-height: var(--line-height);
  font-size: var(--p);
  letter-spacing: 0px;
  font-weight: 400;
}
li {
  margin-left:32px;
}
a:has(:not(.button)) {
  transition: filter 150ms;
}
a:active:has(:not(.button)) {
  filter:brightness(1.2)
}
.clr-yellow {
  color:var(--clr-yellow-primary);
}
.bg-clr-black {
  background-color: var(--clr-black);
}
.bg-clr-purple {
  background-color: var(--clr-purple-primary);
}
.bg-clr-purple-btn {
  background-color: var(--clr-purple-buttons);
}
.bg-clr-yellow-btn {
  background-color: var(--clr-yellow-buttons);
}
.max-width {
  max-width: var(--max-width);
}
.underline {
  text-decoration: underline;
  color:inherit;
}
.button {
  border-radius:100px;
  padding: 8px 24px;
  display: inline-block;
  text-align: center;
  border:none;
  cursor: pointer;
  transition: filter 150ms, transform 150ms;
}
.button:hover {
  filter:saturate(1.5);
  transform: scale(1.05);
}
.container {
  width:100vw;
  max-width: 100%;
  display: grid;
  justify-items: center;
  padding: 96px var(--padding-side-default);
}
.max-width {
  max-width: var(--max-width);
  margin:0 auto;
}

/* Nav */

header {
  width: 100vw;
  max-width: 100%;
  padding:16px;
  background-color: #40105bcb;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  height: 50px;
  padding-left:8px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin:16px;
}
nav ul li h3 {
  transition: color 150ms;
}
nav ul li h3:hover {
  color:var(--clr-yellow-buttons)
}
nav button {
  background: none;
  border:none;
  cursor: pointer;
}
.right-nav {
  display: flex;
  gap:16px;
}
.nav-menu {
  display: none;
  height:41.6px;
  /* margin-bottom:1px; */
}
body:has(.mobile-nav:has(.open)) { 
  overflow: hidden; /* Disables scroll when mobile nav is open and enables it when closed */
}
.mobile-nav {
  display: none;
}
@media screen and (max-width:1100px) {
  .nav-desktop {
    display: none;
  }
  .nav-menu {
    display: block;
  }
  .mobile-nav {
    position: fixed;
    display: grid;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    max-width: 100%;
    height: 100%;
    background-color: var(--clr-purple-buttons);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    place-content: center; 
    /* transition: all ease-in-out 300ms; */
    animation: nav ease-in 300ms;
    
  }
  .mobile-nav:not(.open) {
    display: none;
  }
  .mobile-nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap:16px;
    text-align: center;
    margin:0 auto;
  }
  .mobile-nav .nav-menu {
    position: fixed;
    right:18px;
    top:18px;
  }
}
@keyframes nav {
  from {
    transform:translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

/* Hero */

.hero {
  width:100vw;
  height:100vh;
  height: 100svh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-image: url(/assets/images/hero.png);
  background-position: 50% 35%;
  background-size: cover;
}
.hero .title {
  max-width: 700px;
  margin: 0 auto;
}
.hero .title h3 {
  /* color: var(--clr-grey); */
  font-weight: 500;
}
.hero .subtitle {
  color:var(--clr-grey);
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 450px) {
  .hero .subtitle {
    font-size:18px;
  }
}
.hero .empty {
  height:80px;
}
.hero .button {
  width:30vw;
  min-width:300px;
  padding:16px 24px;
  cursor:pointer;
  margin-bottom: 5vh;
}

/* About */

.about {
  max-width: 700px;
  text-align: center;
}
.about > img {
  margin-bottom:32px;
  width: 100px;
}
.about h2 {
  margin-bottom:16px;
}

/* Trainers */

.trainers .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:48px;
  justify-content: space-evenly;
}
.trainers h2 {
  /* text-align: center; */
  margin-bottom:64px;
}
.trainers article {
  background-position: bottom;
  background-size: cover;
  text-align: center;
  aspect-ratio: 5/9;
  border-radius: var(--border-radius);
}
.trainers .text {
  background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 60%);
  height: 100%;
  padding:7%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap:12px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);

}
#martin {
  background-image: url(/assets/images/Martin.webp);
}
#pavel {
  background-image: url(/assets/images/Pavel.webp);
}
@media screen and (max-width: 900px) {
  .trainers .gallery {
    grid-template-columns: 1fr;
  }
  .trainers .text p {
    line-height: 25px !important;
  }
}

/* Pillars */

.pillars {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:128px;
}
.pillars img {
  height: 100px;
}
.pillars-heading {
  margin-bottom:64px;
}
.pillars .card {
  text-align: center;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap:8px;
}
@media screen and (max-width: 900px) {
  .pillars {
    grid-template-columns: 1fr;
    gap:64px;
  }
}

/* Current Camp */

.current-camp-img {
  background-image: url(/assets/images/current-camp.jpg);
  background-position: center;
  background-size: cover;
  padding:0;
}
.current-camp {
  background: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0) 100%);
  width:100%;
  padding:128px var(--padding-side-default);
}
.current-camp h2 {
  margin-bottom:16px;
}
.current-camp li {
  color: var(--clr-grey);
  line-height: calc(var(--line-height) + 10);
}
.current-camp p:not(.clr-yellow) {
  color: var(--clr-grey);
  line-height: 30px;
  margin:8px 0;
}
.current-camp .button {
  margin-top:32px;
  padding:12px 128px;
}
@media screen and (max-width:550px) {
  .current-camp p:not(.clr-yellow)  {
    line-height: 22px;

  }
}

/* Testimonials */

.testimonials {
  display: grid;
  gap:48px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  max-width: 1200px;
}
.testimonial {
  background-color: #00000038;
  padding:32px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap:16px;
}
.testimonials-heading {
  margin: 0 auto 64px auto;
  text-align: center;
}
.testimonial .quotes {
  width: 40px;
  /* height:35px; */
}
.testimonial .review {
  display: flex;
  gap:24px;
}
.testimonial .author {
  align-self: flex-end;
}
@media screen and (max-width: 900px) {
  .testimonials {
    grid-template-columns: 1fr;
  }
  .testimonial .quotes {
    width:33px;
  }
  .testimonial .review {
    gap:16px
  }
}

/* Contact */

.contact h2 {
  margin-bottom: 64px;
  text-align: center;
}
label h4 {
  margin-bottom: 8px;
}
input {
  border:none;
  border-radius: var(--border-radius);
  background-color: var(--clr-textbox);
  padding: 16px 24px;
  width: 100%;
  margin-bottom:24px;
  font-size: 20px;
}
input::placeholder {
  font-size: 20px;
}
.contact .button {
  width: 100%;
  padding: 16px 24px;
  margin-top: 32px;
}
.disclaimer {
  color: var(--clr-footer-text);
  font-size: 18px;
  width: 80%;
  text-align: center;
  margin:0 auto;
  line-height: 22px;
  margin-top:16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  gap:64px;
}
footer > img {
  height: 50px;
  width: 45px;
}
footer .links {
  display: flex;
  justify-content: start;
  column-gap: 128px;
  row-gap: 64px;
  flex-wrap: wrap;
}
footer a, p {
  font-size: var(--p);
  color: var(--clr-footer-text);
  line-height: var(--line-height);
}
footer a:not(#attribution) {
  text-decoration: underline;
}
footer .social {
  display: flex;
  flex-direction: row;
  gap:6px;
}
footer p {
  letter-spacing: 0;
}
footer .social img {
  height: 30px;
}
.links > div {
  display: flex;
  flex-direction: column;
  gap:12px;
} 
#attribution {
  display: inline;
  text-decoration: none;
  color: var(--clr-white);
}
#attribution:hover {
  text-decoration: underline;
}
p:has(#attribution) {
  margin-top:8px;
}